h1 {
  font-size: 4.5rem;
  background: linear-gradient(330deg, #03236C 0%, #00E683 25%, #0E489B 75%, #03236C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  height: 1px;
}
