/* Material Icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 9rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  margin: 0;
}

.material-icons-small {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  margin: 0;
}

.button-icon {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0 !important;
  padding: 0 !important;
  height: 36px;
  width: 36px;
}

/* Buttons */

.btn-blue {
  background-color: #0F499B !important;
  color: #FFF !important;
  border: #0F499B !important;
}

.btn-white {
  background-color: #FFF !important;
  color: #0F499B !important;
  border: #FFF !important;
}

/* Text Colors */

.text-blueYale {
  color: #0F499B;
}

.text-blueSail {
  color: #BCE0FD;
}

/* Background colors */

.bg-blueYale {
  background-color: #0F499B !important;
}

.bg-blueSail {
  background-color: #BCE0FD !important;
}

.bg-blueGlaucous {
  background-color: #5B82BA !important;
}

/* Fixes */

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.col-meia {
  margin-right: -60px !important;
}
